################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Release/*
Debug/*
bin/Debug/*
!/Libraries/Release/*
!/Libraries/Debug/*
/AdForm.Backend/.vs/AdForm.Backend/v16/Server/sqlite3/db.lock
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Api/AdFormLog
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Api/obj
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Api/obj/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Api/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Business/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Business/obj
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Business/obj/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.DataService/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.DataService/obj
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.DataService/obj/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Shared/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Shared/obj/Debug/netcoreapp3.1
/AdForm.Backend/Services/AdFormAssignment/ToDoApp.Shared/obj
/AdForm.Backend/Core/AdForm.Core/bin/Debug/netcoreapp3.1
/AdForm.Backend/Core/AdForm.Core/obj/Debug/netcoreapp3.1
/AdForm.Backend/Datapersistence/DBService/AdForm.DBService/bin/Debug/netcoreapp3.1
/AdForm.Backend/Datapersistence/DBService/AdForm.DBService/obj
/AdForm.Backend/Model/Entities/Adform.Entities/bin/Debug/netcoreapp3.1
/AdForm.Backend/Model/Entities/Adform.Entities/obj
/AdForm.Backend/UnitTest/AdForm.Backend.Test/bin/Debug/netcoreapp3.1
/AdForm.Backend/UnitTest/AdForm.Backend.Test/obj
/AdForm.Backend/.vs/AdForm.Backend
/AdForm.Backend/Services/HomeWorkToDoApp/ToDoApp.Api/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/HomeWorkToDoApp/ToDoApp.Business/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/HomeWorkToDoApp/ToDoApp.DataService/bin/Debug/netcoreapp3.1
/AdForm.Backend/Services/HomeWorkToDoApp/ToDoApp.Shared/bin/Debug/netcoreapp3.1
/AdForm.Backend/Datapersistence/AdForm.DBService/bin/Debug
